/* header */
header{
    
    justify-content: space-evenly;
    position: fixed;   
    background-color: var(--darkbg);
    z-index: 99;
    top: 0;
    width:100%;
}
 .header_btn{
    width: 2rem;
 }
 /* main */
 main{
    padding-top:5rem;
 }
/* bottom nav */
 nav{
    position: fixed;   
    background-color: var( --btn_dark_gray);
    bottom: 0;
    width:100%;
    
}
nav ul{
    display:flex;
    justify-content: space-around;
    width:100%;
    padding:0;
}
nav li{
    list-style-type: none;
  
}
nav ul li img{
    width:2rem;

}