html,body{
margin: 0;
}
/* herder */
header{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    
}
body#signIn header, body#signUp header{
    padding-top: 5rem;
}

body#signIn header img{
    width: 30vw;
}
/* signIn */
body#signIn{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
body#signIn h1{
   
   text-align: center;
   font-weight: 600;
   font-size: 3rem;
}
.form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding:  5rem ;
  
}
.form-container form{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.form-container input{
    background-color: rgba(0,0,0,0);
    height:8vh;
    border-left:none;
    border-right:none;
    /* border-top: none; */
    border-bottom: 1px solid var(--white);
    width:100%;
    padding-top:2rem;
}
.form-container input:first-of-type{
    border-top: none;
}
.form-container input::placeholder{
    color:var(--white);
    font-size: 2rem;
    text-align:center;
}
.form-container a{
    margin: 5rem;
}
.form-container input[type="password"]{
    border-bottom: 1px solid var(--white);
}
.form-container input[type="submit"]{
    border-radius: 1rem;
    width: 50vw;
    padding: 2rem 3rem ;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    background-color: var(--btn_light_gray);
    color:var(--darkbg);

}


/* uerserInfo */
body#userInfo h1{
    font-size: 1rem;
}
body#userInfo main{
    height: 100vh;
}
body#userInfo form input[type="text"],body#userInfo form select, body#userInfo form input[type="submit"],body#userInfo form input[type="date"] {
background-color: var(--btn_dark_gray);
width: 100%;
height: 3rem;
border-radius: .5rem;
border: none;
margin-bottom: .5rem;
}
body#userInfo form input[type="date"]{
    width: 60%;

}

body#userInfo form input[type="submit"]{
    background-color: var(--btn_light_gray);
    color: var(--darkbg);
}
.l-radio {
    accent-color: var(--redbg);
}
.pet_box{
padding: .5rem 0 .5rem 0;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;

}
select{
  appearance: none;
  -webkit-appearance: none;
  color: #ff0000;
  background-image: url("../images/icons/down_arrow_.png");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-right: 2rem;
}

/* info.ejs */
body#info main{
    padding-bottom: 10rem;
}

/* match.ejs */
.carousel_container{
display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;

}

.carousel_container> .user_card{
    scroll-snap-align: start;
    flex-shrink: 0;
    width:20rem;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
}
.user_card{
    width:20rem;
    /* height: 100vh; */

}
.photo_container{
    
    position: relative;
    width: 20rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 2rem 2rem 0 0 ;
}
.photo_container>img{
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}
.text_container{
    width: 100%;
    background-color: var(--btn_dark_gray);
    padding:1rem;
    border-radius:  0 0 2rem 2rem;
    }
    .text_container>p{
        font-size:14px;
        color:var(--btn_light_gray);
        line-height: 1.6;
    }
.icon_container{
display: flex;
justify-content: space-evenly;
}
