html, body {
  margin: 0;
}
div.App{
  height:100vh;
}
/* herder */
header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
header > img.signupLogo {
  width: 120px;
  height: auto;
}
body#signIn header,
body#signUp header {
  padding-top: 5rem;
}

body#signIn header img {
  width: 30vw;
}
/* signIn */
div#signIn,
div#signUp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body#signIn h1 {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
/* LOGIN SIGNUP */
h1.LS-title{
  font-size: 1.5rem;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}
.form-container input {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--white);
  width: 300px;
  margin: 1rem;
  padding: .5rem;
  text-align: center;
}
.form-container input:focus{
  outline: none;
}
.form-container input:first-of-type {
  border-top: none;
}
.form-container input::placeholder,textarea.intro {
  color: var(--btn_light_gray);
  font-size: .8rem;
  text-align: center;
}
.form-container a {
  margin: 2rem 0;
  font-size: .75rem;
  text-decoration: underline;
  width:100%;
  text-align: center;
}
.form-container input[type="password"] {
  border-bottom: 1px solid var(--white);
}
.form-container input[type="submit"] {
  border-radius: 7px;
  margin: 0 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--btn_light_gray);
  color: var(--darkbg);
}
input.signupBtn {
  margin-top:2rem !important;
}
/* instration cards from personal-input html*/
#instruction {
  position: absolute;
  z-index: 999;
  top: 10%;
  touch-action: pan-x; 
}
#instruction div {
  width: 80vh;
  border-radius: 3rem;
  border: 1rem solid var(--redbg);
  background-color: var(--darkbg);
  padding: 1rem;
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#instruction div img {
  width: 10vh;
  align-self: center;
}
/* blur effect:  */

.bg_blur {
  filter: blur(2px);
}

/* uerserInfo */
body#userInfo h1 {
  font-size: 1rem;
}
body#userInfo main {
  height: 100vh;
  position: fixed;

  /* if  */
}
div.personalInfo input[type="text"],
select,
div.personalInfo input[type="submit"],
div.personalInfo input[type="date"],
textarea.intro {
  background-color: var(--btn_dark_gray);
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 0.5rem;
}
textarea.intro{
  color:#fff;
  font-weight: bold;
  height: 5rem;
  padding: .5rem;
  font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
}
textarea.intro::placeholder{
  line-height: 4rem;
  color:#fff;
  font-weight: 500;
  font-family: 'Inter', 'Arial Narrow', Arial, sans-serif;
}
textarea.intro::-moz-placeholder { /* Mozilla Firefox 19+ */
  line-height:4rem;
}
textarea.intro::-webkit-input-placeholder { /* Webkit */
  line-height:4rem;
}
textarea.intro:-ms-input-placeholder { /* IE */
  line-height:4rem;
}
div.personalInfo > input, option{
  font-size: .85rem;;
}
div.personalInfo input[type="text"]:focus,
div.personalInfo input[type="submit"]:focus,
div.personalInfo input[type="date"]:focus,
textarea.intro:focus {
  outline: none;
}
body#userInfo form input[type="date"] {
  width: 60%;
}
input[type="file"]{
  display: none;
}
label.photoUpload{
  color: var(--redbg);
  background-color: var(--btn_dark_gray);
  font-size: .8rem;
  border-radius: 10px;
  padding: .5rem .75rem;
  width:80%;
  text-align: center;
  margin: 1rem;
}
img.previewPic {
  width: 40%;
  height: auto;
  border-radius: 10px;
}
div.personalInfo form input[type="submit"] {
  background-color: var(--btn_light_gray);
  color: var(--darkbg);
  width:60%;
  font-weight: bold;
  margin-top: 1rem;
}
.l-radio {
  accent-color: var(--redbg);
}
.pet_box {
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
select {
  appearance: none;
  -webkit-appearance: none;
  /* background-image: url(./img/icons/down_arrow_.png); */
  background-repeat: no-repeat;
  background-position: right 1rem center;
  padding-right: 2rem;
}
select:focus{
  outline:none;
}

/* info.ejs */
body#info main {
  padding-bottom: 10rem;
}

/* match.ejs */
.carousel_container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width:100%;
}

.carousel_container > .user_card {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height:100%;
  margin: 0 1rem;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
}

.photo_container {
  width: 100%;
  height:auto;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
  display:flex;
  background-color: #fff;
}
.photo_container > img {
  /* position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px; */
  margin: auto;
  width: 100%;
}
.text_container {
  width: 100%;
  background-color: var(--btn_dark_gray);
  padding: 1rem;
  border-radius: 0 0 2rem 2rem;
}
.text_container > p {
  font-size: 14px;
  color: var(--btn_light_gray);
  line-height: 1.6;
}
.icon_container {
  display: flex;
  justify-content: space-evenly;
}
/* main.html */
body#home h1 {
  text-align: center;
}
.recent_event {
  background-color: var(--btn_dark_gray);
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: flex-start; */
}
/* body#home .recent_event>div{
    
} */
.recent_event > div {
  height: 40vh;
  overflow-x: hidden;
}
.recent_event > img {
  position: relative;
  z-index: 99;
  width: 1rem;
  padding-top: 0.5rem;
}

.event_notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 5rem; */
  /* padding-bottom: 1rem; */
}
.event_notice p {
  width: 70%;
}
.event_notice img {
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
}
#find_box_wrap {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.find_box {
  border-radius: 1rem;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 20rem;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  margin-left: 1rem;
}
.find_text {
  background-color: var(--btn_dark_gray);
  padding: 1rem;
}
.find_text h3 {
  margin: 0;
}
#dog_park {
  height: 40vh;
  padding-bottom: 30rem;
}
#dog_park div {
  width: 90%;
  height: 30vh;
}

/* communication */
.event_chat {
  width: 70%;
  /* height: 4rem; */
}
.event_chat h3 {
  font-size: 1rem;
  font-weight: 600;
}
.event_chat p {
  font-size: 1rem;
  width: 100%;
}
.event_chat_img {
  width: 30%;
}
#activity {
  padding-bottom: 10rem;
}
/* profile */
body#setting h1 {
  text-align: center;
}
#user_pic_wrap {
  display: flex;
  justify-content: space-around;
  height: 30vh;
  position:relative;
}
.user_pic {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  overflow: hidden;
}
#user_pic_wrap > span.userName{
  position: absolute;
  bottom:45px;
  left:1px;
  background:#fff;
  color:var(--redbg);
  font-weight: bold;
  font-size: .75rem;
  border-radius: 20px;
  padding:.25rem .5rem;
  border: 4px solid var(--redbg);
}
#user_pic_wrap > span.petName{
  position: absolute;
  bottom:1px;
  right:1px;
  background:#fff;
  color:var(--redbg);
  font-weight: bold;
  font-size: .75rem;
  border-radius: 20px;
  padding:.25rem .5rem;
  border: 4px solid var(--redbg);
}
.user_pic > img {
  max-width: 100%;
  /* max-height: 100%;
    object-fit:cover; */
}
.photoField{
  margin: .5rem 0;
}
.userField{
  width:100%;
  margin-top: 1rem;
}
.userField > ul{
  margin:0 1rem;
  padding:0;
}
.userField > ul > li{
  list-style-type: none;
  padding:.75rem 1rem;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: .85rem;
  background-color: var(--btn_dark_gray);
  border-bottom: 1px solid var(--darkbg);
  cursor: pointer;
}
li.show{
  display:block;
  transition: .5s all ease-in-out;
  background-color: #4f4e4e !important;
}
.userField > ul > li.sub {
  display:none;
  transition: .5s all ease-in-out;
}
.userField > ul > li > ul{
  margin:0;
  padding:0;
}
.userField > ul > li > ul >li{
  list-style-type: none;
}
.userField > ul > li > ul >li>b{
  font-style: italic;
}
.userField > ul > li.privacy{
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.userField > ul > li > span {
  font-size: 1.2rem;
  font-weight: bold;
}
.userField > ul > li:nth-of-type(1){
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.userField > ul > li:nth-last-child(1){
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.userField > ul > li.last{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.userField > ul > li.fill{
  border-radius: none;
}

#profile_pet {
  width: 8rem;
  height: 8rem;
  align-self: flex-end;
}
.accordion > span {
  text-align: left;
}
button.accordion {
  cursor: pointer;
  padding: 12px 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  position: relative;
  height: 3rem;
}

button.accordion.active {
  background-color: var(--btn_light_gray);
}

button.accordion .expand-icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  font-weight: lighter;
  font-size: 2rem;
  transition: 0.5s;
}

button.accordion.active .expand-icon {
  transform: translateY(-50%) rotate(45deg);
}

/* chat */
body#chat h1 {
  text-align: center;
}
#chat_box {
  color: white;
  background-color: var(--btn_dark_gray);
  border-radius: 2rem;
  height: 55vh;
}
#chat_box_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border:1px solid paleturquoise; */
  height: 65vh;
}
.chat-header h2 {
  text-align: center;
  color: var(--logo_light_pink);
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  padding: 1rem;
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.message {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.receiver {
  flex-direction: row-reverse;
}
.sender .message-user {
  margin-right: 10px;
}
.receiver .message-user {
  margin-left: 10px;
}
.message-user {
  width: 3rem;
  height: 3rem;
}

.message-text {
  flex: 1;
  padding: 0 1rem;
  background-color: var(--white);
  border-radius: 1rem;
}
.message-text p {
  color: var(--darkbg);
  line-height: 1.3;
}
.receiver .message-text {
  background-color: var(--chat_bg);
}

.chat-input {
  background-color: var(--btn_dark_gray);
  padding: 10px;
  border-radius: 5rem;
}

.chat-input form {
  display: flex;
  align-items: center;
}

.chat-input input[type="text"] {
  flex: 1;
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

.chat-input button[type="submit"] {
  background-color: var(--redbg);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3rem;
}

/* Personal Information */
div.personalInfo{
  padding: 0 2rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
form.signupForm{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
}
div.personalInfo > form.signupForm > div.cat-dog{
  width: 100%;
  display:flex;
  justify-content: space-around;
  color:#fff;
}
span.signupMsg{
  color:#fff;
}
/* SIGNUP ALERT MESSAGE */
span.signup-alert{
  padding: .5rem 1rem;
  background-color: var(--redbg);
  color:var(--white);
  border-radius: 10px;
}
header.home{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}
header > img.arrowBack{
  width: 20px; height:auto;
}
header > div {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
header > div > img.logoHomeS{
  height:25px; width:auto;
  margin-left: 2rem;;
}
header > div > img.logoHomeT{
  height:20px; width:auto;
  margin-left: .5rem;;
  margin-right: 2rem;;
}

/* HOME */

div.homeBody{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
}
nav.HomeNav{
  position:relative;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: var( --btn_dark_gray);
  z-index: 99;
}
/* bottom nav */
nav.HomeNav ul{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
nav.HomeNav > ul >li{
  padding: 0 1rem;
  list-style-type: none;
}
nav.HomeNav ul li img{
  width:32px;
  height: auto;
  transition: .35s all ease-in-out;
}
img.menuSelect{
  filter:drop-shadow(0px 0px 1px #E62A45)
}

/* HOME COMPONENT SHARE */
div.homeComponent{
  padding: 1rem;
  padding-top: 0;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  max-width: 633px;
  margin: 0 auto;
}
div.homeComponent > h3{
  text-align: center;
  margin: .5rem;
  margin-top: 0;
  font-size: 1.1rem;;
}
div.match{
  padding: 1.5rem;
}
div.invalidAccess{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
div.invalidAccess > a{
  padding:.5rem 1rem;
  width:40%;
  border-radius: 10px;
  background-color: var(--redbg);
}
/* HOME > WELCOME */
div.welcome{
  margin:0;
  align-items: flex-start;
}
div.welcome > h3{
  margin:0.5rem auto;
}
div.recentEvent{
  width:100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: var(--btn_dark_gray);
  border-radius: 20px;
  min-height: 15rem;
}
div.recentEvent > p{
  margin:.5rem auto;
  font-size: .95rem;
}
ul.eventList{
  margin:0;
  padding:1rem 1.5rem;
}
ul.eventList > li.eventItems{
  list-style-type: none;
  display:flex;
  align-items: center;
  margin: 1rem 0;
}
ul.eventList > li.eventItems:nth-of-type(1){
  margin-top: 0;
}
ul.eventList > li.eventItems > img{
  margin-right: .75rem;
  width:30px;
  height:auto;
}
ul.eventList > li.eventItems > span{
  font-size: .8rem;
}

div.welcome > p{
  margin-bottom: .5rem;;
}
ul.newFriends{
  padding:0;
  display:flex;
  justify-content: center;
  width: 100%;
  margin:0;
  overflow-x: scroll;
}
ul.newFriends > li{
  position: relative;
  list-style-type: none;
  border: 1px solid transparent;
  border-radius: 10px;
  padding:0;
  margin:.5rem;
  min-width: 110px;
  max-height: 110px;
  overflow: hidden;
  transform: translateX(72px);
  /* display:flex;
  flex-direction: column;
  justify-content: space-between; */
}
ul.newFriends > li > img{
  width: 110px;
  height: auto;
}
ul.newFriends > li > span{
  position: absolute;
  bottom: 0;
  background-color: #696969;
  width:100%;
  font-size: .8rem;
  padding:.1rem .5rem;
  text-align: center;
}
/* HOME > PROFILE */
div.profile{
  margin:0;
}
/* HOME > EVENT */
div.event{
  margin:0;
  width:100%;
  overflow-x: hidden;
}
div.eventArea{
  background-color: var(--btn_dark_gray);
  margin: 1rem;
  padding: 1rem;
  min-width:90%;
  min-height: 10rem;
  border-radius: 20px;
}
/* HOME > MATCH */
div.match{
  width:100vw;
}
img.heart{
  filter: brightness(6);
  transition: .5s all ease-in-out;
}
img.red-heart{
  filter: brightness(1);
  transition: .5s all ease-in-out;
}
/* HOME > MATCH > MATCHED */
div.matched{
  margin:0;
  min-width:100vw;
  background-color: var(--redbg);
}
div.matched > h3{
  font-family: 'Pacifico', 'cursive';
  font-size: 1.75rem;
  margin-top: 1.5rem;
}
div.matchedText > p{
  margin: 0;
  text-align: center;
}
div.matchedText > p.largeText{
font-size: 1.25rem;
}
div.matchedPhoto{
  position: relative;
  min-height: 230px;
  width:70%;
  margin: 0 auto;
}
div.matchedPhoto > span.matchPicWrapper{
  width: 150px;
  height: 150px;
  border: 1px solid white;
  position: absolute;
  bottom: 0;
  border-radius: 30px;
  overflow: hidden;
}
div.matchedPhoto > span.matchPicWrapper > img{
  width: 170px;
  height: auto;
}
span.userPic{
  left:0;
  top:40px;
  transform: rotate(-10deg);
  z-index: 8;
}
span.petPic{
  right:0;
  transform: rotate(7deg);
  z-index: 10;
}
ul.cta{
  padding:0;
  margin: 1rem 0;
}
ul.cta > li{
  list-style-type: none;
  text-align: center;
  padding:.75rem;
  width: 200px;
  margin: .75rem 0;
  border-radius: 10px;
  font-weight: bolder;
}
ul.cta > li:nth-of-type(1){
  background-color: var(--btn_light_gray);
  color:var(--btn_dark_gray);
}
ul.cta > li:nth-of-type(2){
  background-color: var(--darkbg);
  color:var(--white);
}


/* HOME > INFO */
div.info{
  overflow-x: hidden;
}
div.info > ul{
  width:100%;
  margin: 1rem;
  padding: 0 1rem; 
}
div.info > ul > li.show{
  flex-direction: column;
}