<!DOCTYPE html>
<html>
  <head>
    <title>PetLink</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="/css/base.css" />
  </head>
  <body id="splash">
    <main>
      <div id="splash_main">
        <img src="/images/logo/PetLink-symbol.svg" alt="PetLink-symbol" />
        <img src="/images/logo/PetLink-wordmark.svg" alt="PetLink wordmark" />
        <a href="/signIn" class="splash_btn">Sign In</a>
        <a href="/signUp" class="splash_btn">Sign Up</a>
      </div>
    </main>
  </body>
</html>