#splash_main{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  padding:25vh 0;
}
#splash_main > img:first-of-type{
  width:50vw;
  
}
#splash_main > img:nth-child(2){
  width:30vw;
}
#splash_main > a{
  border-radius: 1rem;
  width: 50vw;
  padding: 2rem 3rem ;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}
#splash_main > a:first-of-type{
  background-color: var(--btn_light_gray);
  color:var(--darkbg);

}
#splash_main  a:nth-of-type(2){

background-color: var(--darkbg);
}