html,body{
    margin: 0;
    }
    /* herder */
    header{
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        
    }
    body#signIn header, body#signUp header{
        padding-top: 5rem;
    }
    
    body#signIn header img{
        width: 30vw;
    }
    
    /* splash page */
    
    
    /* signIn */
    body#signIn{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
    }
    body#signIn h1{
       
       text-align: center;
       font-weight: 600;
       font-size: 3rem;
    }
    .form-container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding:  5rem ;
      
    }
    .form-container form{
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .form-container input{
        background-color: rgba(0,0,0,0);
        height:8vh;
        border-left:none;
        border-right:none;
        /* border-top: none; */
        border-bottom: 1px solid var(--white);
        width:100%;
        padding-top:2rem;
    }
    .form-container input:first-of-type{
        border-top: none;
    }
    .form-container input::placeholder{
        color:var(--white);
        font-size: 2rem;
        text-align:center;
    }
    .form-container a{
        margin: 5rem;
    }
    .form-container input[type="password"]{
        border-bottom: 1px solid var(--white);
    }
    .form-container input[type="submit"]{
        border-radius: 1rem;
        width: 50vw;
        padding: 2rem 3rem ;
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
        background-color: var(--btn_light_gray);
        color:var(--darkbg);
    
    }
    /* signup */
    
    /* uerserInfo */
    body#userInfo h1{
        font-size: 1rem;
    }
    body#userInfo main{
        height: 100vh;
    }
    body#userInfo form input[type="text"],body#userInfo form select, body#userInfo form input[type="submit"],body#userInfo form input[type="date"] {
    background-color: var(--btn_dark_gray);
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    border: none;
    margin-bottom: .5rem;
    }
    body#userInfo form input[type="date"]{
        width: 60%;
    
    }
    
    body#userInfo form input[type="submit"]{
        background-color: var(--btn_light_gray);
        color: var(--darkbg);
    }
    .l-radio {
        accent-color: var(--redbg);
    }
    .pet_box{
    padding: .5rem 0 .5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
    select{
        appearance: none;
      -webkit-appearance: none;
      color: #ff0000;
      background-image: url("images/icons/down_arrow_.png");
      background-repeat: no-repeat;
      background-position: right 1rem center;
      padding-right: 2rem;
    }
    
    