<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petLink | chat</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pages.css">
</head>
<body id="chat">
    <!-- <% include header.html %> -->
    <header>
        <a href="#"><img src="images/icons/back_btn.svg" alt="back" class="header_btn"></a>
        <a href="main.ejs"><img src="images/logo/PetLink-wordmark-red.svg" alt=""></a>
        <a href="#"><img src="images/icons/more_btn.svg" alt="more" class="header_btn"></a>
      </header>
    <main>
    <h1>Chat</h1>
    <div id="chat_box_wrap">
    <div id="chat_box"> 

        <div class="chat-header">
            <h2>Mona & Angel</h2> <!-- dynamic information - user name  -->
        </div>

        <div class="chat-messages">
            <div class="message sender">
              <div class="message-user user_pic">
                <img src="../public/images/photos/user_1.jpg" alt="">
              </div>
              <div class="message-text"><p>Hey, how's it going?</p></div>
            </div>
            
            <div class="message receiver">
              <div class="message-user user_pic">  <img src="../public/images/photos/user_2.jpg" alt=""></div>
              <div class="message-text"><p>Not bad, thanks for asking. How about you?</p></div>
            </div>

            <div class="message sender">
                <div class="message-user user_pic">
                  <img src="../public/images/photos/user_1.jpg" alt="">
                </div>
                <div class="message-text"><p>Do you wanna go dog park next Wednesday?</p></div>
            </div>
            <div class="message receiver">
                <div class="message-user user_pic">  <img src="../public/images/photos/user_2.jpg" alt=""></div>
                <div class="message-text"><p>Sure!</p></div>
              </div>
            <!-- more messages -->
        </div>
    </div>
        <div class="chat-input">
            <form>
              <input type="text" placeholder="Type your message here...">
              <button type="submit"><img src="../public/images/icons/send.png" alt=""></button>
            </form>
          </div>

        </div>
    </main>
    <!-- <% include nav.html %> -->
    <nav>
        <ul>
            <li><a href="profile.ejs"><img src="../public/images/icons/person.png" alt="personal information"></a></li>
            <li><a href="communication.ejs"><img src="../public/images/icons/chat.png" alt="Communication"></a></li>
            <li> <a href="match.ejs"><img src="../public/images/icons/heart.png" alt="Matching "></a></li>
            <li> <a href="info.ejs"><img src="../public/images/icons/report.png" alt="info"></a></li>
        </ul>
            
    </nav>
</body>
<script src="../public/js/main.js"></script> 
</html>