<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petLink | Communication</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/pages.css">
</head>
<body id="commu">
    <!-- <% include header.html %> -->
    <header>
      <a href="#"><img src="images/icons/back_btn.svg" alt="back" class="header_btn"></a>
      <a href="main.ejs"><img src="images/logo/PetLink-wordmark-red.svg" alt=""></a>
      <a href="#"><img src="images/icons/more_btn.svg" alt="more" class="header_btn"></a>
    </header>
    <main>
     <div>
        <h2 class="text_centre"> Chat History </h2>
            <div class="recent_event">
                <div>
                <div class="event_notice">
                    <div class="event_chat_img"> 
                    <img src="../public/images/photos/Tez.jpg" alt="">
                    </div>
                    <div class="event_chat">
                        <h3>Helena & Ronnie </h3>
                        <p>Me: that’s a great idea!</p>
                    </div>
                </div>
                <div class="event_notice">
                    <img src="../public/images/photos/milo.jpg" alt="">
                    <div  class="event_chat">
                        <h3>Will & Bowser</h3>
                        <p>Will: Bowser is a border collie..</p>
                    </div>
                </div>
                <div class="event_notice">
                    <img src="../public/images/photos/jack.jpg" alt="">
                    <div  class="event_chat">
                        <h3>Phil & Tandy </h3>
                        <p>Me: I got my puppy during the..</p>
                    </div>
                </div>
                <div class="event_notice">
                    <div class="event_chat_img"> 
                        <img src="../public/images/photos/lily.jpg" alt="">
                    </div>
                   
                    <div  class="event_chat">
                        <h3>Phil & Tandy </h3>
                        <p>Me: I got my puppy during the..</p>
                    </div>
                </div>
            </div>
                <img src="../public/images/icons/down_arrow_.png" alt="">
            </div>

            <div id="activity">
                <h2 class="text_centre">Recent Activity</h2>
                    <!-- dyniamic date -->
                    <div class="recent_event"> 
                        <div>
                    <div class="event_notice">
                        <img src="../public/images/photos/dog_girl.jpg" alt="">
                        <p> Kazuro & Taz matched with
                            you.</p>
                    </div>
                    <div class="event_notice">
                        <img src="../public/images/photos/cat_man.jpg" alt="">
                        <p>Kristen & Jack matched with
                            you.</p>
                    </div>
                    <div class="event_notice">
                        <img src="../public/images/photos/cat_man_2.jpg" alt="">
                        <p>Monic & Milo matched with
                            you.</p>
                    </div>
                    <div class="event_notice">
                        <img src="../public/images/photos/dog_girl.jpg" alt="">
                        <p>Kai & lily matched with
                            you.</p>
                    </div>
                    <div class="event_notice">
                        <img src="../public/images/photos/cat_man.jpg" alt="">
                        <p>Joseph & Louis matched with
                            you.</p>
                    </div>
                </div>
                    <img src="../public/images/icons/down_arrow_.png" alt="">
                

            </div>
            </div>
     </div>
    </main>
    <!-- <% include nav.html %> -->
    <nav>
        <ul>
            <li><a href="profile.ejs"><img src="images/icons/person.png" alt="personal information"></a></li>
            <li><a href="communication.ejs"><img src="images/icons/chat.png" alt="Communication"></a></li>
            <li> <a href="match.ejs"><img src="images/icons/heart.png" alt="Matching "></a></li>
            <li> <a href="info.ejs"><img src="images/icons/report.png" alt="info"></a></li>
        </ul>
            
    </nav>
</body>
<script src="../public/js/main.js"></script> 
</html>