<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petLink | Communication</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/pages.css">
</head>
<body id="chat">
    <!-- <% include header.html %> -->
    <header>
      <a href="#"><img src="../public/images/icons/back_btn.svg" alt="back" class="header_btn"></a>
      <a href="main.ejs"><img src="../public/images/logo/PetLink-wordmark-red.svg" alt=""></a>
      <a href="#"><img src="../public/images/icons/more_btn.svg" alt="more" class="header_btn"></a>
    </header>
    <main>
    
    </main>
    <!-- <% include nav.html %> -->
    <nav>
        <ul>
            <li><a href="profile.ejs"><img src="../public/images/icons/person.png" alt="personal information"></a></li>
            <li><a href="communication.ejs"><img src="../public/images/icons/chat.png" alt="Communication"></a></li>
            <li> <a href="match.ejs"><img src="../public/images/icons/heart.png" alt="Matching "></a></li>
            <li> <a href="info.ejs"><img src="../public/images/icons/report.png" alt="info"></a></li>
        </ul>
            
    </nav>
</body>
<script src="../public/js/main.js"></script> 
</html>