<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetLink|Info</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/pages.css">
</head>
<body id="info">
    <!-- <% include header.html %> -->
    <header>
        <a href="#"><img src="../public/images/icons/back_btn.svg" alt="back" class="header_btn"></a>
        <a href="main.ejs"><img src="../public/images/logo/PetLink-wordmark-red.svg" alt=""></a>
        <a href="#"><img src="../public/images/icons/more_btn.svg" alt="more" class="header_btn"></a>
      </header>
    <main>
        <section>
            <h1>About PetLink</h1>
            <button class="accordion">Our Mission</button>
            <div class="panel">
            <p>PetLink is dedicated to creating a community of pet owners who share a passion for connecting their furry friends with other pets. Our mission is to make it easy for pet owners to find matches based on their pets' personality, breed, and location, and to facilitate playdates and socialization opportunities that enrich the lives of pets and their owners.</p>
            <p>Additionally, we provide users with a chance to skim through available pets for adoption at local animal shelters because every pet deserves a second chance. We believe that every pet deserves the chance to make new friends, and that socializing pets is not only fun, but also essential for their well-being. We are committed to creating a safe and inclusive space where pet owners can connect, share tips and advice, and build meaningful relationships with other pet owners and their furry friends.</p>
            </div>
    
            <button class="accordion">Our Goal</button>
            <div class="panel">
            <p>Our goal at PetLink is to become the go-to platform for pet owners looking to connect their pets with new friends in their area. We aim to provide a user-friendly interface that makes it easy for pet owners to create profiles for their pets, search for matches, and arrange playdates. We aim to help pets socialize and form new friendships, which can lead to improved mental and physical health. </p>
            <p>We want to do our part to minimize shelter capacities in any way that we can, and we strive to create a community of like-minded pet owners who are passionate about providing the best possible life for their pets. Ultimately, our goal is to create a fun, safe, and engaging platform that brings joy and companionship to pets and their owners alike.</p>
            </div>
    
            <button class="accordion">Who Are We?</button>
            <div class="panel">
            <p>We are a team of animal lovers who understand the importance of socialization for pets. Our passion for connecting pets with new friends led us to create a pet matching app that makes it easy for pet owners to find matches based on their pets' personality, breed, and location. </p>
            <p>We believe that pets are not just animals, but important members of our families, and that they deserve the opportunity to have fun and make new friends. We are people who believe that animals are not disposable and are deserving of loving and healthy families.</p>
             
            <p>As pet owners ourselves, we understand the challenges that come with finding suitable playmates for our pets, and we wanted to create a solution that would make the process simple and enjoyable. Our team is committed to providing a safe and inclusive platform that celebrates the unique personalities and needs of all pets, and that brings joy and companionship to pets and their owners.</p>
            </div>
            </section>
    
            
            <section>
                <h2>FAQ</h2>
                <button class="accordion">How can I adopt a new pet?</button>
            <div class="panel">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt corporis architecto sunt eaque sint saepe quis, quibusdam sapiente eos neque, inventore doloribus rem vero unde soluta nostrum animi dolor voluptas?</p>
            </div>
    
            <button class="accordion">Question 2</button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt corporis architecto sunt eaque sint saepe quis, quibusdam sapiente eos neque, inventore doloribus rem vero unde soluta nostrum animi dolor voluptas?</p>
            </div>
    
            <button class="accordion">Question 3</button>
            <div class="panel">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis aut tenetur, recusandae sint molestias saepe voluptatem, ullam debitis ea excepturi non nesciunt, voluptatum eaque cupiditate! Cumque aliquam dolor debitis perspiciatis.</p>
            </div>
            </section>
    </main>
    <!-- <% include nav.html %> -->
    <nav>
        <ul>
            <li><a href="profile.ejs"><img src="../public/images/icons/person.png" alt="Personal information"></a></li>
            <li><a href="communication.ejs"><img src="../public/images/icons/chat.png" alt="Communication"></a></li>
            <li> <a href="match.ejs"><img src="../public/images/icons/heart.png" alt="Matching "></a></li>
            <li> <a href="info.ejs"><img src="../public/images/icons/report.png" alt="Info"></a></li>
        </ul>
            
    </nav>
</body>
<script src="../public/js/main.js"></script> 
</html>