<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>PetLink| Home</title>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/pages.css" />
</head>
<body id="home">
<!-- <% include header.html %> -->
<header>
    <a href="#"
    ><img
        src="../public/images/icons/back_btn.svg"
        alt="back"
        class="header_btn"
    /></a>
    <a href="main.ejs"
    ><img src="../public/images/logo/PetLink-wordmark-red.svg" alt=""
    /></a>
    <a href="#"
    ><img
        src="../public/images/icons/more_btn.svg"
        alt="more"
        class="header_btn"
    /></a>
</header>
<main>
    <!-- home contacnt -->
    <h1>Welcome!</h1>
    <div class="recent_event">
    <h2>Recent Events</h2>
    <!-- h2 fixed -->
    <!-- dyniamic date -->
    <div>
        <div class="event_notice">
        <img src="../public/images/photos/dog_girl.jpg" alt="" />
        <p>Kazuro & Taz matched with you.</p>
        </div>
        <div class="event_notice">
        <img src="../public/images/photos/cat_man.jpg" alt="" />
        <p>Kristen & Jack matched with you.</p>
        </div>
        <div class="event_notice">
        <img src="../public/images/photos/cat_man_2.jpg" alt="" />
        <p>Monic & Milo matched with you.</p>
        </div>
        <div class="event_notice">
        <img src="../public/images/photos/dog_girl.jpg" alt="" />
        <p>Kai & lily matched with you.</p>
        </div>
        <div class="event_notice">
        <img src="../public/images/photos/cat_man.jpg" alt="" />
        <p>Joseph & Louis matched with you.</p>
        </div>
    </div>
    <img src="../public/images/icons/down_arrow_.png" alt="" />
    </div>

    <div id="find">
    <h2>Find a New Furry Friend</h2>
    <div id="find_box_wrap">
        <div class="find_box">
        <div class="photo_container">
            <img src="../public/images/photos/dog_girls.jpg" alt="" />
        </div>
        <div class="find_text">
            <h3>Tez</h3>
            <h4>Calgary Humane Society</h4>
        </div>
        </div>

        <div class="find_box">
        <div class="photo_container">
            <img src="../public/images/photos/dog_girls.jpg" alt="" />
        </div>
        <div class="find_text">
            <h3>Rose</h3>
            <h4>AARCS</h4>
        </div>
        </div>
        <div class="find_box">
        <div class="photo_container">
            <img src="../public/images/photos/dog_girls.jpg" alt="" />
        </div>
        <div class="find_text">
            <h3>Jax</h3>
            <h4>Calgary Humane Society</h4>
        </div>
        </div>

        <div class="find_box">
        <div class="photo_container">
            <img src="../public/images/photos/dog_girls.jpg" alt="" />
        </div>
        <div class="find_text">
            <h3>Rose</h3>
            <h4>AARCS</h4>
        </div>
        </div>
    </div>
    </div>

    <div id="dog_park">
    <h2>Nearest Fenced Dog Park</h2>

    <div>
        <img
        src="../public/images/photos/map.png"
        alt=""
        width="370"
        height="370"
        />
    </div>
    </div>
</main>
<!-- <% include nav.html %> -->
<nav>
  <ul>
    <li>
      <a href="profile.ejs">
        <img src="images/icons/person.png" alt="personal information"/>
      </a>
    </li>
    <li>
      <a href="communication.ejs">
        <img src="images/icons/chat.png" alt="Communication"/>
      </a>
    </li>
    <li>
      <a href="match.ejs">
        <img src="images/icons/heart.png" alt="Matching "/>
      </a>
    </li>
    <li>
      <a href="info.ejs">
        <img src="images/icons/report.png" alt="info"/>
      </a>
    </li>
  </ul>
</nav>
</body>
</html>
