<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petLink | Match</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/pages.css">
</head>
<body id="match">
    <!-- <% include header.html %> -->
    <header>
      <a href="#"><img src="../public/images/icons/back_btn.svg" alt="back" class="header_btn"></a>
      <a href="main.ejs"><img src="../public/images/logo/PetLink-wordmark-red.svg" alt=""></a>
      <a href="#"><img src="../public/images/icons/more_btn.svg" alt="more" class="header_btn"></a>
    </header>
    <main>
        <div class="carousel_container">
            <div class="user_card">
                <div class="photo_container">
                    <img src="../public/images/photos/cat_man.jpg" alt=""> 
                </div>
                <div class="text_container"> 
                    <h2>Tristan & Rio, 28 & 2</h2> 
                    <!-- dymaic information -->
                    <p>Tristan works full-time as a barista manager. He lives a very laid back, easy going life with his cat Rio, who he rescued in June of 2020.</p>
                    <div class="icon_container"> 
                        <img src="../public/images/icons/solid_heart.png" alt="">
                        <img src="../public/images/icons/x.png" alt=""> 
                    </div>  
                </div>
          
            </div>
        <div class="user_card">
            <div class="photo_container">
                <img src="../public/images/photos/cat_man_2.jpg" alt=""> 
            </div>
            <div class="text_container"> 
                <h2>Tristan & Rio, 28 & 2</h2> 
                <p>Tristan works full-time as a barista manager. He lives a very laid back, easy going life with his cat Rio, who he rescued in June of 2020.</p>
                <div class="icon_container"> 
                    <img src="../public/images/icons/solid_heart.png" alt="">
                    <img src="../public/images/icons/x.png" alt=""> 
                
                </div>  
            </div>
            
        </div>
        <div class="user_card">
            <div class="photo_container"><img src="../public/images/photos/dog_girls.jpg" alt=""> </div>
            <div class="text_container"> 
                <h2>Tristan & Rio, 28 & 2</h2> 
                <p>Tristan works full-time as a barista manager. He lives a very laid back, easy going life with his cat Rio, who he rescued in June of 2020.</p>
                <div class="icon_container"> 
                    <img src="../public/images/icons/solid_heart.png" alt="">
                    <img src="../public/images/icons/x.png" alt=""> 
                </div>  
            </div>      
        </div>
    </div>
    </main>
    <!-- <% include nav.html %> -->
   
    <nav>
        <ul>
            <!-- a link will change -->
            <li><a href="profile.ejs"><img src="../public/images/icons/person.png" alt="personal information"></a></li>
            <li><a href="communication.ejs"><img src="../public/images/icons/chat.png" alt="Communication"></a></li>
            <li> <a href="match.ejs"><img src="../public/images/icons/heart.png" alt="Matching "></a></li>
            <li> <a href="info.ejs"><img src="../public/images/icons/report.png" alt="info"></a></li>
        </ul>
            
    </nav>
</body>
<script src="../public/js/main.js"></script> 
</html>
<!--  all the image link and a link path will be change. img will be "/images/icons/x.png"  
a link "/css/base.css"
-->